<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <title>Product App</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img :src="image" :alt="altText" />
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p>{{ description }}</p>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <span v-show="onSale">On Sale!</span>

          <p>Details:</p>
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <p>Colors:</p>
          <div v-for="variant in variants" :key="variant.variantId">
            <p>{{ variant.variantColor }}</p>
          </div>

          <p>Sizes:</p>
          <ul>
            <li v-for="size in sizes">{{ size }}</li>
          </ul>

          <p><a :href="vmLink">Based on: Introduction to Vue.js</a></p>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
